services:
    chromadb:
        image: 'chromadb/chroma:1.3.6'
        ports:
            - '8080:8000'
        volumes:
            - chroma-data:/data
            - ./chroma-config.yaml:/config.yaml

volumes:
    chroma-data:
        driver: local
